#title{
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}
.container{
    padding-left: 10px;
    display: flex;
    flex: 1;
}
#main{
    margin: 20px 8px;
    padding: 15px;
    background: rgb(214, 207, 207);
}
@media( max-width: 450px){
    #main{
        margin: 0;
    }
}
body{
    line-height: 30px;
    margin: 0;
}
h3{
    text-transform: capitalize;
    text-align: center;
}
@media (max-width: 500px){
    #img-div{
        margin: 0;
    }
}
img{
    border-radius: 20px;
    height: auto;
    max-width: 100%;
    margin: 0;
    align-self: center;
}
#img-caption{
    font-size: 26px;
    font-family: 'Pattaya', sans-serif;
}
#img-div{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
#tribute-info{
    border: 20px;
}
a{
    color: rgb(15, 17, 16);
    text-align: center;
}
#self{
    text-align: center;
    font-size: 24px;
}
#tribute-link :hover{
    color: #00f;
}

